#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #181514;
}
#menu-0 .mbr-brand__name a {
  font-size: 20px;
}
#footer1-2 P {
  color: #645854;
}
#header4-19 H1 {
  font-size: 20px;
  text-align: right;
  color: #645854;
}
#contacts1-31 P {
  color: #645854;
  text-align: left;
}
#contacts1-31 B {
  text-align: left;
}
#header4-20 H1 {
  color: #a49089;
  font-size: 20px;
}
#header4-20 SPAN {
  text-align: left;
  color: #645854;
}
#header1-27 H1 {
  font-size: 20px;
}
#header1-27 P {
  font-size: 14px;
}
#header1-27 .btn {
  font-size: 10px;
}
#msg-box5-21 .mbr-header__text {
  color: #645854;
  font-size: 20px;
}
#msg-box5-21 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-21 .mbr-article {
  color: #645854;
  font-size: 14px;
}
#msg-box5-21 .mbr-article P {
  color: #645854;
}
#msg-box5-22 .mbr-header__text {
  color: #645854;
  font-size: 20px;
}
#msg-box5-22 .mbr-header__subtext {
  color: #645854;
}
#msg-box5-22 .mbr-article {
  color: #ffffff;
}
#msg-box5-22 .mbr-article P {
  color: #645854;
}
#msg-box5-23 .mbr-header__text {
  color: #645854;
  font-size: 20px;
}
#msg-box5-23 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-23 .mbr-article {
  color: #645854;
}
#msg-box5-23 .mbr-article P {
  color: #645854;
  font-size: 14px;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #181514;
}
#menu-0 .mbr-brand__name a {
  font-size: 20px;
}
#footer1-2 P {
  color: #645854;
}
#header4-31 H1 {
  color: #a49089;
  font-size: 20px;
}
#header4-31 SPAN {
  text-align: left;
  color: #645854;
}
#header1-30 H1 {
  font-size: 20px;
}
#header1-30 P {
  font-size: 14px;
}
#header1-30 .btn {
  font-size: 8px;
}
#header1-21 P {
  font-size: 14px;
  color: #ffffff;
}
#header1-21 H1 {
  font-size: 20px;
}
#header1-21 SPAN {
  color: #645854;
}
#header1-21 B {
  color: #ffffff;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #181514;
}
#menu-0 .mbr-brand__name a {
  font-size: 20px;
}
#footer1-2 P {
  color: #645854;
}
#header4-36 H1 {
  color: #a49089;
  font-size: 20px;
}
#header4-36 SPAN {
  text-align: left;
  color: #645854;
}
#header1-18 H1 {
  font-size: 20px;
}
#header1-18 P {
  font-size: 14px;
}
#image2-40 SMALL {
  font-size: 20px;
}
#image2-40 I {
  font-size: 14px;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #181514;
}
#menu-0 .mbr-brand__name a {
  font-size: 20px;
}
#footer1-2 P {
  color: #645854;
}
#content5-22 .mbr-header .mbr-header__text {
  text-align: left;
  color: #fff;
}
#content5-22 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-22 .mbr-article {
  color: #fff;
}
#content5-22 .mbr-header .mbr-header__text SPAN {
  font-size: 17px;
  color: #645854;
}
#content5-22 .mbr-article P {
  font-size: 14px;
  color: #645854;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #181514;
}
#menu-0 .mbr-brand__name a {
  font-size: 20px;
}
#footer1-2 P {
  color: #645854;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #181514;
}
#menu-0 .mbr-brand__name a {
  font-size: 20px;
}
#footer1-2 P {
  color: #645854;
}
#image2-34 SMALL {
  font-size: 16px;
  color: #645854;
}
#image2-38 SMALL {
  color: #645854;
}
#image2-35 SMALL {
  color: #645854;
}
#image2-37 SMALL {
  color: #645854;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #181514;
}
#menu-0 .mbr-brand__name a {
  font-size: 20px;
}
#footer1-2 P {
  color: #645854;
}
